<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sunabaco用語集コンテンツ2</title>
    <link rel="stylesheet" href="../static/css/contents2.css">
</head>
<body>
    <h1>（データベースの値）用語検索一覧</h1>
    <input type="text">
    <input type="submit" value="高速検索">
    <p>五十音検索</p>
    <table border="1" class="table_border">
        <tbody>
            <tr>
                <td>あ</td>
                <td>い</td>
                <td>う</td>
                <td>え</td>
                <td>お</td>
                <td>は</td>
                <td>ひ</td>
                <td>ふ</td>
                <td>へ</td>
                <td>ほ</td>
            </tr>
        </tbody>
    </table>
    <table border="1" class="table_border">
        <tbody>
            <tr>
                <td>か</td>
                <td>き</td>
                <td>く</td>
                <td>け</td>
                <td>こ</td>
                <td>ま</td>
                <td>み</td>
                <td>む</td>
                <td>め</td>
                <td>も</td>
            </tr>
        </tbody>
    </table>
    <table border="1" class="table_border">
        <tbody>
            <tr>
                <td>さ</td>
                <td>し</td>
                <td>す</td>
                <td>せ</td>
                <td>そ</td>
                <td>や</td>
                <td>　</td>
                <td>ゆ</td>
                <td>　</td>
                <td>よ</td>
            </tr>
        </tbody>
    </table>
    <table border="1" class="table_border">
        <tbody>
            <tr>
                <td>た</td>
                <td>ち</td>
                <td>つ</td>
                <td>て</td>
                <td>と</td>
                <td>ら</td>
                <td>り</td>
                <td>る</td>
                <td>れ</td>
                <td>ろ</td>
            </tr>
        </tbody>
    </table>
    <table border="1" class="table_border">
        <tbody>
            <tr>
                <td>な</td>
                <td>に</td>
                <td>ぬ</td>
                <td>ね</td>
                <td>の</td>
                <td>わ</td>
                <td>　</td>
                <td>を</td>
                <td>　</td>
                <td>ん</td>
            </tr>
        </tbody>
    </table>
</body>
</html>