<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/contents1.css">
    <title>sunabaco用語集コンテンツ１</title>
</head>
<body>
    <h1>調べたい言語を選ぼう！！</h1>
    <div class="circleA">
       <p><a href="/html4">HTML</a></p>
    </div>
    <div class="circleB">
        <p><a href="/css">CSS</a></p>
    </div>
    <div class="circleC">
        <p><a href="/js">JS</a></p>
    </div>
    <div class="circleD">
        <p><a href="/jquery">Jquery</a></p>
    </div>
    <div class="circleE">
        <p><a href="/github">Github</a></p>
    </div>
    <div class="circleF">
        <p><a href="/python">Python</a></p>
    </div>
    <div class="circleG">
        <p><a href="/flask">flask</a></p>
    </div>
    <div class="circleH">
        <p><a href="/other">その他</a></p>
    </div>
</body>
</html>