<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/contents1.css">
    <title>sunabaco用語集コンテンツ１</title>
</head>
<body>
    <h1>調べたい言語を選ぼう！！</h1>
    <div class="circle">
        <p>HTML</p>
    </div>
    <div class="circle">
        <p>css</p>
    </div>
    <div class="circle">
        <p>JS</p>
    </div>
    <div class="circle">
        <p>Jquery</p>
    </div>
    <div class="circle">
        <p>Github</p>
    </div>
    <div class="circle">
        <p>Python</p>
    </div>
    <div class="circle">
        <p>flask</p>
    </div>
    <div class="circle">
        <p>その他</p>
    </div>
</body>
</html>