<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//static/css/contents3.css">
    <title>sunabaco用語集コンテンツ3</title>

</head>
<body>
    <h1>HTML用語検索画面</h1>
    <table border="1">
        {% for item in cnt_keyword %}
        <tr>
            <td>{{item["cnt_keyword"]}}</td>
            <td>{{item["cnt_text"]}}</td>
            <td>{{item["cnt_url"]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>