<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>sunabaco用語集ログインページ</title>
</head>
<body>
    <header>
        <h1>sunabaco用語集</h1>
    </header>
    <form action="/login" method="POST">
        <div class="name">
            <p>名前:</p>
            <input type="text" name="member_name">
        </div>
        <div class="pass">
            <p>パスワード:</p>
            <input type="text" name="member_pass">
        </div>
        <div class="log">
            <p><input type="submit" name="save" value="ログイン">新規登録は<a href="">こちら</a></p>
        </div>
    
        <div class="in">
            <p>登録せず使用する場合は<a href="">こちら</a></p>
        </div>
        <a href="わーい">わーい</a>
        <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div>
        <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div>
        <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div> 
        <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div>
        <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div>
        <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div> <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div>
        <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div>
        <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div> <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div>
        <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div>
        <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div> <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div>
        <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div>
        <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div> <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div>
        <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div>
        <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div> <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div>
        <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div>
        <div class="arrow_box">プログラミングは怖くないよ！！<br>一緒に頑張ろう！！</div>    
    </form>
    
    <div class="wcb-chan"></div>


</body>
</html>