<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sunabaco用語集コンテンツ2</title>
    <link rel="stylesheet" href="../static/css/contents2.css">
</head>
<body>
    <h1>python用語検索一覧</h1>
    <input type="text">
    <input type="submit" value="高速検索">
    <p>五十音検索</p>
    <table border="1" class="table_border">
        <tbody>
            <tr>
                <td><a href="/html2/1">あ</a></td>
                <td><a href="/html2/2">い</a></td>
                <td><a href="/html2/3">う</a></td>
                <td><a href="/html2/4">え</a></td>
                <td><a href="/html2/5">お</a></td>
                <td><a href="/html2/6">か</a></td>
                <td><a href="/html2/7">き</a></td>
                <td><a href="/html2/8">く</a></td>
                <td><a href="/html2/9">け</a></td>
                <td><a href="/html2/10">こ</a></td>
            </tr>
        </tbody>
    </table>
    <table border="1" class="table_border">
        <tbody>
           <tr>
                <td><a href="/html2/11">さ</a></td>
                <td><a href="/html2/12">し</a></td>
                <td><a href="/html2/13">す</a></td>
                <td><a href="/html2/14">せ</a></td>
                <td><a href="/html2/15">そ</a></td>
                <td><a href="/html2/16">た</a></td>
                <td><a href="/html2/17">ち</a></td>
                <td><a href="/html2/18">つ</a></td>
                <td><a href="/html2/19">て</a></td>
                <td><a href="/html2/20">と</a></td>
            </tr>
        </tbody>
    </table>
    <table border="1" class="table_border">
        <tbody>
            <tr>
                <td><a href="/html2/21">な</a></td>
                <td><a href="/html2/22">に</a></td>
                <td><a href="/html2/23">ぬ</a></td>
                <td><a href="/html2/24">ね</a></td>
                <td><a href="/html2/25">の</a></td>
                <td><a href="/html2/26">は</a></td>
                <td><a href="/html2/27">ひ</a></td>
                <td><a href="/html2/28">ふ</a></td>
                <td><a href="/html2/29">へ</a></td>
                <td><a href="/html2/30">ほ</a></td>
            </tr>
        </tbody>
    </table>
    <table border="1" class="table_border">
        <tbody>
            <tr>
                <td><a href="/html2/31">ま</a></td>
                <td><a href="/html2/32">み</a></td>
                <td><a href="/html2/33">む</a></td>
                <td><a href="/html2/34">め</a></td>
                <td><a href="/html2/35">も</a></td>
                <td><a href="/html2/36">や</a></td>
                <td>　</td>
                <td><a href="/html2/37">ゆ</a></td>
                <td>　</td>
                <td><a href="/html2/38">よ</a></td>
            </tr>
        </tbody>
    </table>
    <table border="1" class="table_border">
        <tbody>
            <tr>
                <td><a href="/html2/39">ら</a></td>
                <td><a href="/html2/40">り</a></td>
                <td><a href="/html2/41">る</a></td>
                <td><a href="/html2/42">れ</a></td>
                <td><a href="/html2/43">ろ</a></td>
                <td><a href="/html2/44">わ</a></td>
                <td>　</td>
                <td><a href="/html2/45">を</a></td>
                <td>　</td>
                <td><a href="/html2/46">ん</a></td>
            </tr>
        </tbody>
    </table>
    <table border="1" class="table_border">
        <tbody>
            <tr>
                <td><a href="/html2/">A</a></td>
                <td><a href="/html2/19">B</a></td>
                <td><a href="/html2/19">C</a></td>
                <td><a href="/html2/19">D</a></td>
                <td><a href="/html2/19">E</a></td>
                <td><a href="/html2/19">F</a></td>
                <td><a href="/html2/19">G</a></td>
                <td><a href="/html2/19">H</a></td>
                <td><a href="/html2/19">I</a></td>
                <td><a href="/html2/19">J</a></td>
            </tr>
        </tbody>
    </table>
    <table border="1" class="table_border">
        <tbody>
            <tr>
                <td><a href="/html2/19">K</a></td>
                <td><a href="/html2/19">L</a></td>
                <td><a href="/html2/19">M</a></td>
                <td><a href="/html2/19">N</a></td>
                <td><a href="/html2/19">O</a></td>
                <td><a href="/html2/19">P</a></td>
                <td><a href="/html2/19">Q</a></td>
                <td><a href="/html2/19">R</a></td>
                <td><a href="/html2/19">S</a></td>
                <td><a href="/html2/19">T</a></td>
            </tr>
        </tbody>
    </table>
    <table border="1" class="table_border">
        <tbody>
            <tr>
                <td><a href="/html2/19">U</a></td>
                <td><a href="/html2/19">V</a></td>
                <td><a href="/html2/19">W</a></td>
                <td><a href="/html2/19">X</a></td>
                <td><a href="/html2/19">Y</a></td>
                <td><a href="/html2/19">Z</a></td>
                <td>　</td>
                <td>　</td>
                <td>　</td>
                <td>　</td>
            </tr>
        </tbody>
    </table>
</body>
</html>